@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0;}
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    background: linear-gradient(180deg, rgba(128, 253, 255, 1) 0%, rgba(0, 176, 76, 1) 100%, rgba(0, 255, 47, 1) 100%);
    overflow: hidden;
}

button {
    cursor: pointer;;
}

/* body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    background: #80fdff; 
    background: linear-gradient(180deg, rgba(128, 253, 255, 1) 0%, rgba(0, 176, 76, 1) 100%, rgba(0, 255, 47, 1) 100%); 
} */

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.welcome {
    color: #000000;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 20px;
}

/* From Uiverse.io by adamgiebl */ 
.neu {
  background-color: rgba(244, 244, 244, 0.3);
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #bcbcbc6c, inset -4px -4px 10px #ffffff6d;
  color: #4d4d4d;
  font-size: 18px;
  padding: 15px 40px;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(206, 206, 206);
}

.neu:hover {
  box-shadow: inset 2px 2px 5px #bcbcbc6c, inset -2px -2px 5px #ffffff6d, 2px 2px 5px #bcbcbc6c, -2px -2px 5px #ffffff6d;
}

.neu:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #bcbcbc6c, inset -2px -2px 5px #ffffff6d, 2px 2px 5px #bcbcbc6c, -2px -2px 5px #ffffff6d;
}