@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html, body {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    background-image: url('../images/wallpapers/thunder.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

button {
    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
}

span {
    font-size: 14px;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    padding: 1.5vh;
    border: 0.1vw solid rgba(206, 206, 206, 0.451);
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.25); 
    color: #fff;
    box-shadow: inset 4px 4px 10px #bcbcbc6c, inset -4px -4px 10px #ffffff6d;
    font-size: 1.25vw;
}

.desktopApps {
    display: grid;
    padding-top: 5vh;
    padding-left: 5vw;
    grid-template-columns: repeat(auto-fill, 112px);
    gap: 48px;
    padding: 32px;
}

.desktopApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
    color: white;
    cursor: pointer;
    padding: 8px;
}

.desktopIcon {
    display: block;
    font-size: 64px;
    line-height: 1;
}

.desktopApp:hover {
    border: 0.1vw solid rgb(206, 206, 206);
    box-shadow: inset 4px 4px 10px #bcbcbc6c, inset -4px -4px 10px #ffffff6d;
    border-radius: 1vw;
}

.window {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.1vw solid rgb(206, 206, 206);
    border-radius: 1vw;
    max-width: 80vw;
    max-height: 70vh;
    background-color: #c5fcffbb;
    box-shadow: inset 4px 4px 10px #bcbcbc6c, inset -4px -4px 10px #ffffff6d;
}

.window.dragging {
    transform: none;
    will-change: left, top;
}

.windowContent {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    height: auto;
    gap: 1vh;
}

#container {
    display: grid;
    width: 50vw;
    height: 45vh;
    border: 1px solid black;
    margin-top: 20px;
}

.item {
    border: 1px solid black;
    color: black;
}

.handle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    margin-bottom: 1vh;
    border-bottom: 0.1vw solid rgb(206, 206, 206);
    background-color: #c5fcff;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}

.closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5vw;
    width: 1vw;
    height: 1vw;
    background-color: red;
    cursor: pointer;
    border-radius: 100%
}

.appHeader {
    font-weight: bold;
    color: black;
    margin-right: auto;
    margin-left: auto;
}

#notepadSidebar {
    display: flex;
    flex: 0 0 15vw;
    flex-direction: column;
    gap: 1vw;
    margin-bottom: 2vh;
    padding: 0.2vw;
    border-right: 0.2vw solid #2727278d;
    overflow-y: auto;
    max-height: 50vh;
}

.timer {
    padding: 2vw;
    border: solid 2px #000;
    border-radius: 100%;
}

.landslideSearchBar {
    display: flex;
    font-size: small !important;
    align-items: center;
    justify-content: flex-start;
    box-shadow: inset 4px 4px 10px #bcbcbc6c, inset -4px -4px 10px #ffffff6d !important;
}

.bookmark {
    font-size: medium !important;
    padding: 0.5vw !important;
    width: 6vw;
}

.browserWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
}

.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-bottom: 2vh;
}

.video img {
    width: 100%;
    border-radius: 0.5vw;
}

#metoob {
    align-items: flex-start !important;
}

.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2vh;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 30%;
    height: 15vh;
    border: 2px solid grey;
    border-radius: 5%;
    margin-bottom: 2vh;
}

.postTitle {
    font-size: 0.8vw;
    font-weight: bold;
}

.postSB {
    font-size: 0.8vw;
}

.reactionBar {
    display: flex;
    flex-direction: row;
}

#docs {
    justify-content: flex-start;
    gap: 0.4vh;
}

#docs h2 {
    margin-bottom: 0.5vh;
}

#docs p {
    margin: 0.3vh 0;
}

.docsSub {
    font-weight: bold;
    margin-top: 0.8vh;
    margin-bottom: 0.2vh;
}

/* .window:hover {
  box-shadow: inset 2px 2px 5px #bcbcbc6c, inset -2px -2px 5px #ffffff6d, 2px 2px 5px #bcbcbc6c, -2px -2px 5px #ffffff6d;
} */

.window:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #bcbcbc6c, inset -2px -2px 5px #ffffff6d, 2px 2px 5px #bcbcbc6c, -2px -2px 5px #ffffff6d;
}

.version {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
    color: white;
    font-size: 2vh;
    cursor: pointer;
}

.username {
    position: absolute;
    bottom: 1vh;
    left: 1vw;
    color: white;
    font-size: 2vh;
    cursor: pointer;
}

#notesContent {
    box-sizing: border-box;
    height: fit-content;
    resize: none;
    height: 30vh;
    width: 100%
}

#notesTitle {
    box-sizing: border-box;
    width: 100%;
    height: 7vh;
    resize: none;
    font-size: 3vh;
    font-weight: bold;
    padding: 1vh;
}

.weatherInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#locationInput {
    flex: 1;
    min-width: 0;
}

#weatherSearchButton {
    flex: 0 0 auto;
}

#timerScreen {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#stopwatchScreen {
    display: none;
    flex-direction: column; 
    align-items: center;
}


/* From Uiverse.io by adamgiebl */ 
.neu {
  background-color: rgba(244, 244, 244, 0.3);
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #bcbcbc6c, inset -4px -4px 10px #ffffff6d;
  color: #4d4d4d;
  font-size: 18px;
  padding: 15px 40px;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(206, 206, 206);
}

.neu:hover {
  box-shadow: inset 2px 2px 5px #bcbcbc6c, inset -2px -2px 5px #ffffff6d, 2px 2px 5px #bcbcbc6c, -2px -2px 5px #ffffff6d;
}

.neu:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #bcbcbc6c, inset -2px -2px 5px #ffffff6d, 2px 2px 5px #bcbcbc6c, -2px -2px 5px #ffffff6d;
}