@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html, body {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    background-image: url('../images/wallpapers/thunder.jpeg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    padding: 1.5vh;
    border: 0.1vw solid rgba(206, 206, 206, 0.451);
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.25); 
    color: #fff;
    box-shadow: inset 4px 4px 10px #bcbcbc6c, inset -4px -4px 10px #ffffff6d;
}

.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.1vw solid rgb(206, 206, 206);
    border-radius: 1vw;
    width: fit-content;
    padding: 2vw;
    background-color: #c5fcffbb;
    box-shadow: inset 4px 4px 10px #bcbcbc6c, inset -4px -4px 10px #ffffff6d;
}

/* .window:hover {
  box-shadow: inset 2px 2px 5px #bcbcbc6c, inset -2px -2px 5px #ffffff6d, 2px 2px 5px #bcbcbc6c, -2px -2px 5px #ffffff6d;
} */

.window:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #bcbcbc6c, inset -2px -2px 5px #ffffff6d, 2px 2px 5px #bcbcbc6c, -2px -2px 5px #ffffff6d;
}

.version {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
    color: white;
    font-size: 2vh;
}

.username {
    position: absolute;
    bottom: 1vh;
    left: 1vw;
    color: white;
    font-size: 2vh;
}