@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html, body {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    background-image: url('../images/wallpapers/thunder.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

button {
    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
}

span {
    font-size: 1.1vw;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    padding: 1.5vh;
    border: 0.1vw solid rgba(206, 206, 206, 0.451);
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.25); 
    color: #fff;
    box-shadow: inset 4px 4px 10px #bcbcbc6c, inset -4px -4px 10px #ffffff6d;
    font-size: 1.25vw;
}

.desktopApps {
    display: flex;
    padding-top: 5vh;
    padding-left: 5vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.desktopApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
    color: white;
    cursor: pointer;
    padding: 0.2vw;
}

.desktopIcon {
    font-size: 4vw;
}

.desktopApp:hover {
    border: 0.1vw solid rgb(206, 206, 206);
    box-shadow: inset 4px 4px 10px #bcbcbc6c, inset -4px -4px 10px #ffffff6d;
    border-radius: 1vw;
    padding: 0.1vw;
}

.window {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.1vw solid rgb(206, 206, 206);
    border-radius: 1vw;
    width: 40vw;
    min-width: 320px;
    max-width: 80vw;
    background-color: #c5fcffbb;
    box-shadow: inset 4px 4px 10px #bcbcbc6c, inset -4px -4px 10px #ffffff6d;
}

.window.dragging {
    transform: none;
    will-change: left, top;
}

.windowContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    width: 100%;
    box-sizing: border-box;
    height: auto;
}

.handle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    margin-bottom: 1vh;
    border-bottom: 0.1vw solid rgb(206, 206, 206);
    background-color: #c5fcff;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}

.closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5vw;
    width: 1vw;
    height: 1vw;
    background-color: red;
    cursor: pointer;
    border-radius: 100%
}

.appHeader {
    font-weight: bold;
    color: black;
    margin-right: auto;
    margin-left: auto;
}

/* .window:hover {
  box-shadow: inset 2px 2px 5px #bcbcbc6c, inset -2px -2px 5px #ffffff6d, 2px 2px 5px #bcbcbc6c, -2px -2px 5px #ffffff6d;
} */

.window:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #bcbcbc6c, inset -2px -2px 5px #ffffff6d, 2px 2px 5px #bcbcbc6c, -2px -2px 5px #ffffff6d;
}

.version {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
    color: white;
    font-size: 2vh;
    cursor: pointer;
}

.username {
    position: absolute;
    bottom: 1vh;
    left: 1vw;
    color: white;
    font-size: 2vh;
    cursor: pointer;
}

textarea.neu {
    box-sizing: border-box;
    width: 100%;
    height: 30vh;
    resize: vertical;
}

/* From Uiverse.io by adamgiebl */ 
.neu {
  background-color: rgba(244, 244, 244, 0.3);
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #bcbcbc6c, inset -4px -4px 10px #ffffff6d;
  color: #4d4d4d;
  font-size: 18px;
  padding: 15px 40px;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(206, 206, 206);
}

.neu:hover {
  box-shadow: inset 2px 2px 5px #bcbcbc6c, inset -2px -2px 5px #ffffff6d, 2px 2px 5px #bcbcbc6c, -2px -2px 5px #ffffff6d;
}

.neu:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #bcbcbc6c, inset -2px -2px 5px #ffffff6d, 2px 2px 5px #bcbcbc6c, -2px -2px 5px #ffffff6d;
}